.card-img-top{
    background-image: linear-gradient(#008080,#008080);
}
@media screen and (max-width:424px){
    .graph{
        font-size: 12px;
    }
}
@media screen and (max-width:324px){
    .graph{
        font-size: 8px;
    }
}
@media screen and (max-width:424px){
    .texts{
        font-size: 8px;
    }
}
@media screen and (max-width:324px){
    .texts{
        font-size: 4px;
    }
}