.image_div{
    border-radius: 50%;
    width: 125px;
    height: 125px;
    text-align: center;
    margin: 0 auto ;
    padding: 20px;
}
@media screen and (max-width:424px){
    .card-title{
        font-size: medium;
    }
}
@media screen and (max-width:424px){
    .text{
        font-size: small;
    }
}
